# Ignoring node_module folder
node_modules

# Ignoring .env files
*.env

# Ignoring temp folder
temp

# misc
.DS_Store
*.pem

# next.js
.next
out/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo