:root {
  --brand-color: #ff385c;
  --text-white: #ffffff;
  --text-dark: #222222;
  --text-light: #717171;
  --text-light-1: #9e9c9c;
  --border-color: #dddddd;
  --btn-variant-1: rgba(196, 189, 189, 0.333);
  --btn-variant-2: rgba(196, 189, 189, 0.7);
  --background-1: #ebebeb;
  --filter-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  --filter-sub-text: rgb(113, 113, 113);
  --disabled-btn-color: rgb(235, 235, 235);
  --brand-gradient-radial: radial-gradient(
    circle at center,
    #ff385c 0%,
    #e61e4d 27.5%,
    #e31c5f 40%,
    #d70466 57.5%,
    #bd1e59 75%,
    #bd1e59 100%
  );
  --big-search-form_background: #ebebeb;
  --big-search-button_background_hover: #dddddd;
  --big-search-form_background_active: #ebebeb;
  --query-input_flex: 1.25 0 0%;
  --input-with-search-button_flex: 1 0 0%;
  --split-date-input_flex: 1 0 0%;
  --background-white: #ffffff;
  --max-content-width: 1760px;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input,
textarea,
select,
button,
a {
  font-family: inherit;
  font-size: 100%;
}

html {
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  line-break: strict;
  -webkit-font-smoothing: antialiased;
}

div {
  display: block;
}

a {
  text-decoration: none;
  text-transform: none;
  color: inherit;
}
