:root {
  --border-color: #dddddd;
  --brand-color: #ff385c;
  --text-dark: #222222;
  --text-light: #717171;
  --btn-variant-1: rgba(196, 189, 189, 0.333);
}

/* body {
  font-family: 'Be Vietnam Pro', sans-serif;
} */

.brand-color {
  color: #ff385c;
  /* dls19-brand-gradient: -webkit-linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%) !important */
  /* --dls19-brand-gradient-radial: radial-gradient(circle at center, #FF385C 0%, #E61E4D 27.5%, #E31C5F 40%, #D70466 57.5%, #BD1E59 75%, #BD1E59 100% ) !important; */
}
