.container {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  max-height: calc(100vh - 200px);
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: contain;
  background: var(--background-white);
  border-radius: 32px;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 4%), 0 8px 16px rgb(0 0 0 / 15%);
  margin-top: 12px;
  padding: 16px 32px;
}

.locationGrid {
  display: grid;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 24px;
  grid-template-columns: repeat(3, min-content);
}

.locationGridBtn {
  cursor: pointer !important;
  text-align: center !important;
  border: 1px solid rgb(221, 221, 221) !important;
  background-color: rgb(255, 255, 255) !important;
  outline: none !important;
  padding: 0px !important;
  margin: 0px !important;
  color: rgb(34, 34, 34) !important;
  font-family: inherit;
  position: relative !important;
  transition-property: -ms-transform, -webkit-transform, transform,
    background-color, border-color !important;
  transition-duration: 0.15s !important;
  transition-timing-function: ease-in-out !important;
  border-radius: 12px !important;
  height: 100% !important;
  overflow: hidden !important;
  width: 100% !important;
  -webkit-tap-highlight-color: transparent !important;
}

.locationGridBtn:focus-visible {
  transition: box-shadow 0.2s ease 0s !important;
  box-shadow: rgb(255 255 255) 0px 0px 0px 2px, rgb(34 34 34) 0px 0px 0px 4px !important;
}

@media (hover: hover) {
  .locationGridBtn:hover {
    color: rgb(0, 0, 0) !important;
    border-color: rgb(0, 0, 0) !important;
  }
}

@media (max-width: 849px) {
  .locationGrid {
    grid-auto-rows: 0;
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: repeat(2, min-content);
    overflow: hidden;
  }
}

@media (min-width: 950px) {
  .container {
    max-height: calc(100vh - 150px);
  }
}
