.container {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  max-height: calc(100vh - 200px);
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: contain;
  background: var(--background-white);
  border-radius: 32px;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 4%), 0 8px 16px rgb(0 0 0 / 15%);
  margin-top: 12px;
  padding: 16px 32px;
}

.containerSmall {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
  max-height: calc(100vh - 200px);
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: contain;
  background: var(--background-white);
  border-radius: 32px;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 4%), 0 8px 16px rgb(0 0 0 / 15%);
  margin-top: 12px;
  padding: 16px 32px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

.active {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  user-select: auto;
}

@media (min-width: 950px) {
  .container {
    max-height: calc(100vh - 150px);
  }
}

@media (max-width: 850px) {
  .containerSmall {
    display: block;
  }

  .container {
    display: none;
  }
}
