.header {
  font-size: 12px;
}

.searchLocationInput input[type='text'] {
  border: none;
  outline: none;
  color: var(--text-dark);
  background-color: inherit;
  font-weight: bold;
  width: 100%;
}

.searchLocationInput input[type='text']:hover {
  background-color: inherit;
}

.searchLocationInput input::placeholder {
  color: var(--text-light-1);
  font-size: 14px;
  font-weight: lighter;
}

.iconBtn {
  height: auto;
  width: auto;
  padding: 0;
  margin-right: 8px;
  background: var(--background-1);
  display: flex;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.iconBtn:hover {
  background: var(--btn-variant-2);
}

.searchBtn {
  color: white;
  width: auto;
  height: auto;
  padding: 10px 15px;
  border-radius: 50px;
  font-size: 15px;
  box-shadow: none;
  background-color: var(--brand-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
}
