.header {
  font-size: 12px;
}

.searchLocationInput input[type='text'] {
  border: none;
  outline: none;
  color: var(--text-dark);
  background-color: inherit;
  font-weight: bold;
  width: 100%;
}

.searchLocationInput input[type='text']:hover {
  background-color: inherit;
}

.searchLocationInput input::placeholder {
  color: var(--text-light-1);
  font-size: 14px;
  font-weight: lighter;
}

.locationSearchBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  padding: 10px 0;
  padding-left: 30px;
  height: 100%;
  text-align: left;
  cursor: pointer;
}

.boxShadow {
  box-shadow: var(--filter-box-shadow);
}

.removeShadow {
  box-shadow: none;
}
