.header {
  left: 0;
  height: 80px;
  width: 100%;
  z-index: 100;
}

.header::before {
  content: '';
  height: 140%;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  background-image: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));
  transition: 150ms opacity ease;
}

.header::after {
  content: '';
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
  box-shadow: rgb(0 0 0 / 8%) 0 1px 0;
  transform-origin: 50% 0%;
  transition: transform 150ms ease, opacity 150ms ease 75ms;
  background: var(--background-white);
}

.tabPanelClose::after {
  opacity: 1;
  transform: initial;
  transition: transform 250ms ease, opacity 250ms ease;
}

.tabPanelOpen::after {
  transform: scaleY(2);
  transition: transform 250ms ease;
  box-shadow: none;
  height: 100%;
  opacity: 1;
}

@media (max-width: 949px) {
  .tabPanelOpen::after {
    transform: scaleY(3);
  }
}

.groupContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1;
}

.mediaQuery {
  max-width: 1440px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;
}

@supports (--a: a) {
  .mediaQuery {
    max-width: var(--max-content-width, 1440px);
  }
}

@media (min-width: 375px) {
  .mediaQuery {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (min-width: 744px) {
  .mediaQuery {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 950px) {
  .mediaQuery {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 1128px) {
  .mediaQuery {
    padding-left: 80px;
    padding-right: 80px;
  }
}
