.mediaQuery {
  max-width: 1440px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;
}

@supports (--a: a) {
  .mediaQuery {
    max-width: var(--max-content-width, 1440px);
  }
}

@media (min-width: 375px) {
  .mediaQuery {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (min-width: 744px) {
  .mediaQuery {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 950px) {
  .mediaQuery {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 1128px) {
  .mediaQuery {
    padding-left: 80px;
    padding-right: 80px;
    margin: auto;
  }
}
