.queryContainer {
  flex: var(--query-input_flex, 1 0 0%);
  min-width: 0;
}

.queryBtn {
  display: block;
  flex: 1 0 0%;
  min-height: 0;
  cursor: pointer;
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 32px;
  padding: 14px 32px;
}

.queryBtn::before {
  content: '';
  display: none;
  height: 32px;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 0;
  border-width: 0 1px;
  border-style: solid;
  border-color: var(--big-search-form_background, transparent);
  margin-top: -16px;
  border-left: 0;
}

.queryBtn::after {
  content: '';
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 32px;
}

.queryBtnActive {
  z-index: 3;
}

.queryBtnActive::before {
  display: block;
}

.queryBtnActive::after {
  background-color: #ffff;
  border-color: #ffff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  left: 0%;
  right: 0;
}

.queryBtnInActive {
  display: block;
}

.queryBtnInActive:hover::before {
  display: block;
}

.queryBtnInActive:hover::after {
  background-color: var(--big-search-form_background);
}

.locationSearchInput {
  display: block;
  width: 94%;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: var(--text-dark);
  text-overflow: ellipsis;
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
}

.locationSearchInput:focus {
  outline: none;
}

.locationSearchInput::placeholder {
  font-family: 'Be Vietnam Pro';
  font-size: 14px;
  font-weight: 300;
}

@media (min-width: 950px) {
  .queryInput {
    flex: var(--query-input_flex, 1.5 0 0%);
  }
}
